*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
body{
    background-color: rgb(165, 147, 245);
    min-height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-box{
    position: relative;
    width: 450px;
    height: 750px;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box h2{
    color: black;
    text-align: center;
    font-size: 32px;
}
.form-box .input-box{
    position: relative;
    margin: 30px;
    width: 310px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.form-box .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: black;
    font-size: 16px;
}
.form-box .input-box select{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: black;
    font-size: 16px;
}
input::placeholder{
    color: black;
}
.btn{
    color: white;
    background: rgb(8, 3, 31);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,.5);
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.group span a{
    color: black;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
}
.group a:focus{
    text-decoration: underline;
    align-items: center;
}
